{# -*- mode: jinja2 -*- #}
{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  {% if page.author %}
    <meta name="author" content="{{ page.author }}">
  {% endif %}
  {% if page.summary %}
    <meta name="description" content="{{ page.summary | striptags }}">
  {% endif %}
{% endblock %}

{% block title -%}
  {{ SITENAME }} &mdash; {{ page.title | striptags }}
{%- endblock %}

{% block content %}
  <article>
    <header class="mb-6 pb-6 border-b b-theme">
      <h1 class="c-text text-3xl font-bold leading-tight">{{ page.title }}</h1>
    </header>
    <div class="prose c-text">
      {{ page.content }}
    </div>
  </article>
{% endblock %}
