{# -*- mode: jinja2 -*- #}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/fonts/fonts.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="{{ SITEURL }}/pagefind/pagefind-component-ui.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/style.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/pygments-light.css" />
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/assets/pygments-dark.css" />
{% if CUSTOM_CSS %}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ CUSTOM_CSS }}" />
{% endif %}
